:root {
  --button-color: darkcyan;
  --button-hover: rgb(91, 230, 230);
  --button-active: rgb(70, 224, 224);
  --button-shadow: rgb(10, 199, 199);
}

.flip-card {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flip-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  gap: 1.5em;
  margin-top: 0.5em;
}

/* Flip Button Styles */
.MuiButtonBase-root.MuiButton-root.MuiButton-text.flip-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  outline: none;
  color: #fff;
  background-color: var(--button-color);
}

.flip-button:hover {
  background-color: var(--button-hover);
}

.flip-button:active {
  background-color: var(--button-active);
  box-shadow: 0 0 0 0.2rem var(--button-shadow);
}

.flip-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.flip-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1em;
  height: 1em;
  font-size: 1.5em;
  color: currentColor;
}
