.rate-limit-modal {
  border: 2px solid darkcyan;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 2em;
  z-index: 1000;
}
.rate-limit-modal-backdrop {
  backdrop-filter: blur(10px);
}

.rate-limit-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: white;
  border-radius: 4px;
}

.rate-limit-modal-icon {
  transform: scale(2);
}

.rate-limit-modal-message {
  font-size: 16px;
  text-align: center;
  margin-top: 8px;
}

.rate-limit-modal a {
  color: darkcyan;
}

.rate-limit-modal p {
  text-align: center;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.refresh-button {
  /* Style the button */
  background-color: darkcyan;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.refresh-button svg {
  /* Style the icon */
  width: 20px;
  height: 20px;
  fill: white;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-text.refresh-button:hover {
  background-color: darkcyan;
}
